[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Development;
Name=Postman
Comment=Supercharge your API workflow
Icon=postman
Exec=sh -c "$HOME/apps/Postman/app/Postman"
Terminal=false
